{% extends "layout.html" %}

{% block title %}
<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/About.css')}}" media="screen"> -->
<link rel="stylesheet" href="{{url_for('static', filename='css/stylo_1.css')}}" media="screen">
<link rel="stylesheet" href="{{url_for('static', filename='css/stylo_2.css')}}" media="screen">
<link rel="shortcut icon" href="./../static/icon/icon.svg" />
<title>Modelamiento y Simulacion &#10036;</title>
{% endblock %}

{% block content %}



<!-- division -->


<!-- nueva seccion -->



<section id="carousel_f32e" class="u-carousel u-slide u-block-163d-1" data-u-ride="carousel" data-interval="5000">
  <ol class="u-absolute-hcenter u-carousel-indicators u-block-163d-2">
    <li data-u-target="#carousel_f32e" data-u-slide-to="0" class="u-active u-grey-30"></li>
  </ol>
  <div class="u-carousel-inner" role="listbox">
    <div class="u-active u-align-left u-carousel-item u-clearfix u-palette-5-base u-section-1-1" src="">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h1 class="u-custom-font u-font-playfair-display u-text u-title u-text-1">MODELAMIENTO Y SIMULACIÓN</h1>
                  <p class="u-large-text u-text u-text-variant u-text-2">El uso de&nbsp;<b>Modelado y Simulación</b>&nbsp;Computacional permite estudiar la naturaleza o los sistemas de las ingenierías apoyados en tecnologías de la información y las comunicaciones
                  </p>
                  <a href="metodos" class="u-border-2 u-border-grey-dark-1 u-btn u-btn-rectangle u-button-style u-none u-btn-1">Ingresa Aqui&nbsp;</a>
                </div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-1" data-image-width="626" data-image-height="417">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
<section class="u-align-center u-clearfix u-grey-10 u-section-2" id="carousel_af5d">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h1 class="u-custom-font u-font-oswald u-text u-text-default u-text-palette-1-light-1 u-text-1"> Acontinuacion estaran disponi​bles las siguientes secciones</h1>
    <p class="u-text u-text-2"> Elija cualquira que requiera, cada seccion contara con sus correspondientes metodos.</p>
    <div class="u-expanded-width-xs u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
          <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
            <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-1" src="../static/image/ruleta.jpg">
            <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-1">
              <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                <h3 class="u-custom-font u-font-oswald u-text u-text-3">Números Aleatorios</h3>
                <p class="u-text u-text-4">&nbsp;​Los&nbsp;<b>números aleatorios</b>&nbsp;permiten a los modelos matemáticos representar la realidad. ... Para lograr una mejor aproximación a la realidad nuestra herramienta predictiva debe funcionar de manera similar: aleatoriamente. De esa necesidad surgieron los modelos de simulación.&nbsp;&nbsp;
                </p>
                <a href="numerosaleatorios" class="u-btn u-btn-rectangle u-button-style u-grey-10 u-btn-1" target="_blank">Ingresar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
          <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-3">
            <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-2" src="../static/image/modelos.jpg">
            <div class="u-align-left-xs u-container-style u-expanded-width-xs u-group u-video-cover u-group-2">
              <div class="u-container-layout u-valign-middle-xs u-container-layout-4">
                <h3 class="u-custom-font u-font-oswald u-text u-text-5">Modelo de pronósticos</h3>
                <p class="u-text u-text-default u-text-6"> El&nbsp;<b>pronóstico</b>&nbsp;es el proceso&nbsp;<b>de</b>&nbsp;estimación en situaciones&nbsp;<b>de</b>&nbsp;incertidumbre. El término predicción es similar, pero más general, y usualmente se refiere a la&nbsp; estimación&nbsp;<b>de</b>&nbsp;series temporales o datos instantáneos. ... Este se utilizan&nbsp;<b>para</b>&nbsp;estimar planes&nbsp;<b>de</b>&nbsp;ventas, producción, flujos&nbsp;<b>de</b>&nbsp;efectivo y elaboración&nbsp;<b>de</b>&nbsp;presupuestos.
                </p>
                <a href="modelospronosticos" class="u-btn u-btn-rectangle u-button-style u-grey-10 u-btn-2" target="_blank">Ingresar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3">
          <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-5">
            <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-3" src="../static/image/regresiones.jpg">
            <div class="u-container-style u-expanded-width-xs u-group u-video-cover u-group-3">
              <div class="u-container-layout u-valign-middle-xs u-container-layout-6">
                <h3 class="u-custom-font u-font-oswald u-text u-text-7">Regresiones</h3>
                <p class="u-text u-text-default u-text-8">El análisis de la&nbsp;<b>regresión</b>&nbsp;lineal se utiliza&nbsp;<b>para</b>&nbsp;predecir el valor de una variable según el valor de otra. La variable que desea predecir se denomina variable dependiente. La variable que está utilizando&nbsp;<b>para</b>&nbsp;predecir el valor de la otra variable se denomina variable independiente.
                </p>
                <a href="regresiones" class="u-btn u-btn-rectangle u-button-style u-grey-10 u-btn-3" target="_blank">Ingresar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-4">
          <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-7">
            <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-4" src="../static/image/simulacion.jpg">
            <div class="u-container-style u-expanded-width-xs u-group u-video-cover u-group-4">
              <div class="u-container-layout u-valign-middle-xs u-container-layout-8">
                <h3 class="u-custom-font u-font-oswald u-text u-text-9">Modelos de simulación</h3>
                <p class="u-text u-text-default u-text-10">Puede definirse a la&nbsp;<b>simulación</b>&nbsp;como la experimentación con un modelo que imita ciertos aspectos de la realidad. ... A nivel económico y financiero, tendríamos que destacar otros tipos de simuladores. Así, por&nbsp;<b>ejemplo</b>, en España existe lo que se conoce como simulador de renta.
                </p>
                <a href="modelossimulacion" class="u-btn u-btn-rectangle u-button-style u-grey-10 u-btn-4" target="_blank">Ingresar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- contactos -->



{% endblock %}